@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-size: 15px;
}

nav {
    background-color: #BACADA;
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
}

.navsides {
    display: flex;
}

/* .leftNav{
    background-color: pink;
}
.rightNav{
    background-color: yellow;
} */

.rightNav img {
    margin: 10px;
    width: 50px;
    cursor: pointer;
}

.navsides li {
    list-style: none;
    background-color: #052357;
    border-radius: 11px;
    padding: 8px 15px;
    margin: 10px;
}

.navsides li a {
    text-decoration: none;
    color: white;
}

.banner img {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.devider {
    background: rgb(186, 202, 218);
    padding: 10px 0;
}

.devider h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.aboutRich {
    padding: 8rem 15rem;
    display: flex;
    gap: 2rem;
}

.aboutRich>img {
    width: 661px;
}

.aboutRichR p {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.clients {
    padding: 8rem 15rem;
    display: flex;
    gap: 2rem;
}

.clients>img {
    width: 754.39px;
    height: 384.76px;
}


.clientsImages img {
    width: 150px;
    margin: 2rem;
}

/* TESTIMONIAL SECTION */

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testicontainer {
    padding: 8rem 15rem 2rem;
    display: flex;
    gap: 5rem;
}

.card {
    background-color: #052357;
    border-radius: 40px;
    color: #FEF3F3;
    font-size: 21.28px;
    padding: 3rem 2rem;
}

.cardUpper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.card hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.card>p {
    margin-bottom: 5rem;
}

.cardLower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardLowerright {
    margin: 0 auto;
}

.testibtns {
    margin-bottom: 5rem;
}

.testibtns>i {
    margin: 1rem;
    cursor: pointer;
}

.icon {
    color: #0a3279;
    transition: color 0.3s ease;
}

.icon:hover {
    cursor: pointer;
    color: #466c96;
}

/* Videos Section */

.videos {
    padding: 8rem 15rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.videocontainer iframe {
    margin: 0 10px;
    border-radius: 10px;
}

.tech {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 22rem 8rem;
}

.lefttech p {
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
}

.tech img {
    height: 384.76px;
    width: 754.39px;
}

footer {
    background: rgb(186, 202, 218);
    /* padding: 8rem 15rem 8rem; */
    padding: 3rem 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(5, 35, 87);
}

.leftFooter h1 {
    font-size: 25px;
    font-weight: 600;
}

.leftFooter p {
    color: rgb(5, 35, 87);
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 70px;
}

.footericon{
    color: rgb(5, 35, 87);
    margin-right: 10px;
}

.rightFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.rightFooter h1{
    color: rgb(5, 35, 87);
    font-size: 25px;
}


.rightFooter button{
    background-color: rgb(5, 35, 87);
    color: white;
    font-size: 15px;
    padding: 17px 25px;
    border-radius: 20px;
}
