<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="overlap">
          <img class="richardcaraker-logo" src="img/richardcaraker-logo-med-1.png" />
          <div class="group">
            <div class="overlap-group">
              <div class="text-wrapper">Commercial Demo</div>
              <div class="text-wrapper-2">RC Commercial-2</div>
              <div class="text-wrapper-3">0:00:00</div>
              <div class="text-wrapper-4">0:01:02</div>
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="rectangle"></div>
                  <div class="ellipse-wrapper"><div class="ellipse"></div></div>
                </div>
              </div>
              <div class="frame">
                <img class="img" src="img/next-2.png" />
                <img class="play-button" src="img/play-button-1.png" />
                <img class="img" src="img/next-1.png" />
              </div>
              <div class="frame-2">
                <img class="swap" src="img/swap-1.png" />
                <img class="img" src="img/volume-up-1.png" />
                <img class="img" src="img/menu-1.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-2">
          <div class="frame-wrapper">
            <div class="frame-3">
              <img class="img-2" src="img/ion-call.svg" />
              <div class="text-wrapper-5">81-90-2918-9359</div>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="frame-3">
              <img class="img-2" src="img/lets-icons-message-alt-fill.svg" />
              <div class="text-wrapper-5">richard@RichardCrackerVA.com</div>
            </div>
          </div>
          <div class="frame-4"><p class="text-wrapper-6">Schedule A Call With Richard</p></div>
          <div class="group-2"><div class="ellipse-2"></div></div>
          <img class="screenshot" src="img/screenshot-2025-01-10-105813-removebg-preview-1.png" />
        </div>
        <div class="group-3">
          <div class="overlap-group-3">
            <p class="p">RICHARD OFFERS A RELAXED GENTLE TENOR WITH EXCELLENT WARM LOW-END SUPPORT.</p>
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-group-3"><div class="text-wrapper-7">Our Clients</div></div>
        </div>
        <div class="group-4">
          <div class="overlap-group-3"><div class="text-wrapper-8">Testimonials</div></div>
        </div>
        <div class="group-5">
          <div class="overlap-group-3"><div class="text-wrapper-9">Tech Specs</div></div>
        </div>
        <div class="overlap-3">
          <div class="group-6">
            <div class="text-wrapper-10">Schedule Call With Rich</div>
            <div class="frame-5"><div class="text-wrapper-6">Book Appointment</div></div>
          </div>
          <div class="frame-6">
            <div class="group-7">
              <div class="text-wrapper-10">CONTACT</div>
              <div class="text-wrapper-11">Email: Richard@RichardCrackerVC.com</div>
            </div>
            <img class="frame-7" src="img/frame-110.svg" />
          </div>
        </div>
        <div class="frame-8">
          <img class="profilephoto" src="img/profilephoto-1.png" />
          <div class="frame-9">
            <p class="text-wrapper-12">
              Rich is a voice over actor based in Tokyo with deep ties to San Francisco. His transpacific mindset makes
              Rich a sought-after voice for Japanese public service announcements, university projects, corporate
              narrations, web presentations, and e-learning tutorials.
            </p>
            <p class="rich-has-lent-his">
              <span class="span"
                >Rich has lent his distinct voice to such prestigous projects<br />as MEXT, Woven Industries, Waseda
                University, Cyberdyn Sytems,
              </span>
              <span class="text-wrapper-13">Q-Games</span>
              <span class="span"> and many more.</span>
            </p>
            <p class="text-wrapper-14">
              Rich’s warm, relatable, and authentic tenor captivates listeners with a versitile performance style that
              effortlessly ranges from light-hearted charm to trusted authority. This unique ability to connect with
              listeners stems from Rich’s 30+ years as a university teacher and weekend saxophonist in jazz and rock
              bands across Tokyo. Rich approaches every project with creativity, expertise, and an unwavering commitment
              to bringing his clients’visions to life.
            </p>
          </div>
        </div>
        <div class="overlap-4">
          <div class="group-8">
            <img class="image" src="img/image-1.png" />
            <div class="overlap-5">
              <img class="image-2" src="img/image-2.png" />
              <div class="group-9">
                <img class="image-3" src="img/image-6.png" />
                <div class="text-wrapper-15">WASEDA University</div>
              </div>
            </div>
            <img class="image-4" src="img/image-3.png" />
            <img class="image-5" src="img/image-5.png" />
            <div class="group-10">
              <img class="image-6" src="img/image-4.png" />
              <div class="text-wrapper-16">Woven Planet Group</div>
            </div>
          </div>
          <img class="clients" src="img/clients-2.png" />
        </div>
        <div class="frame-10">
          <div class="group-11">
            <img class="img-3" src="img/icon-park-solid-phone.svg" />
            <div class="text-wrapper-17">Audio Technica AT875R Microphone</div>
          </div>
          <div class="group-12">
            <img class="img-3" src="img/mdi-microphone-outline.svg" />
            <p class="text-wrapper-18">Focusrite Scarlette 3rd Gen Interface</p>
          </div>
          <div class="group-13">
            <img class="img-3" src="img/majesticons-laptop-line.svg" />
            <div class="text-wrapper-18">Mac Air Sequoia M2</div>
          </div>
          <div class="group-14">
            <img class="img-3" src="img/ic-round-headset.svg" />
            <div class="text-wrapper-18">Audio Technica ATH-M40x Headphones</div>
          </div>
          <div class="group-15">
            <img class="img-3" src="img/game-icons-lightning-frequency.svg" />
            <div class="text-wrapper-18">Audacity</div>
          </div>
        </div>
        <img class="techspecs" src="img/techspecs-1.png" />
        <div class="frame-11">
          <div class="group-16">
            <div class="overlap-group-4">
              <div class="rectangle-2"></div>
              <img class="line" src="img/line-2.svg" />
              <div class="frame-12">
                <div class="frame-13">
                  <img class="mr-miguel" src="img/mr-miguel.png" />
                  <div class="frame-14">
                    <div class="text-wrapper-19">Omar Farooq</div>
                    <div class="text-wrapper-20">Financial Analyst</div>
                  </div>
                </div>
              </div>
              <p class="bary-do-a-great-job">
                “Bary do a great job to find the perfect home. It&#39;s very easy for every one to buy, sell or rent
                property we belive they continure their great service.”
              </p>
              <div class="frame-15">
                <div class="frame-16">
                  <div class="text-wrapper-19">Forest Glen</div>
                  <div class="text-wrapper-20">Sustainable Living</div>
                </div>
                <img class="frame-17" src="img/frame-103-3.svg" />
              </div>
            </div>
          </div>
          <div class="group-17">
            <div class="overlap-6">
              <div class="frame-18">
                <div class="frame-13">
                  <img class="prof-denis" src="img/prof-denis.png" />
                  <div class="frame-14">
                    <div class="text-wrapper-21">Omar Farooq</div>
                    <div class="text-wrapper-22">Financial Analyst</div>
                  </div>
                </div>
              </div>
              <p class="a-fantastic-real">
                &#34;A fantastic real estate service! They were always available to answer our questions and provided
                invaluable guidance. We couldn&#39;t be happier.&#34;
              </p>
              <div class="frame-19">
                <div class="frame-16">
                  <div class="text-wrapper-21">Forest Glen</div>
                  <div class="text-wrapper-22">Sustainable Living</div>
                </div>
                <img class="frame-20" src="img/frame-103.svg" />
              </div>
              <img class="line-2" src="img/line-1.svg" />
            </div>
          </div>
          <div class="group-18">
            <div class="overlap-7">
              <div class="rectangle-3"></div>
              <div class="frame-21">
                <div class="frame-13">
                  <img class="roman-cruikshank" src="img/roman-cruikshank.png" />
                  <div class="frame-14">
                    <div class="text-wrapper-19">Omar Farooq</div>
                    <div class="text-wrapper-20">Financial Analyst</div>
                  </div>
                </div>
              </div>
              <p class="bary-do-a-great-job-2">
                “Bary do a great job to find the perfect home. It&#39;s very easy for every one to buy, sell or rent
                property we belive they continure their great service.”
              </p>
              <div class="frame-22">
                <div class="frame-16">
                  <div class="text-wrapper-19">Forest Glen</div>
                  <div class="text-wrapper-20">Sustainable Living</div>
                </div>
                <img class="frame-23" src="img/frame-103-2.svg" />
              </div>
              <img class="line-3" src="img/line-3.svg" />
            </div>
          </div>
        </div>
        <div class="frame-24">
          <div class="chevron-right-wrapper"><img class="chevron-right" src="img/chevron-right-3.svg" /></div>
          <div class="img-wrapper"><img class="chevron-right-2" src="img/chevron-right-2.svg" /></div>
        </div>
        <div class="group-19">
          <div class="overlap-group-3"><div class="text-wrapper-23">Videos Of Our Work</div></div>
        </div>
        <div class="group-20"><img class="chevron-right-2" src="img/chevron-right.svg" /></div>
        <div class="group-21"><img class="chevron-right" src="img/image.svg" /></div>
        <div class="frame-25">
          <div class="youtube-wrapper"><img class="youtube" src="img/youtube-3.png" /></div>
          <div class="youtube-wrapper"><img class="youtube" src="img/youtube-1.png" /></div>
          <div class="youtube-wrapper"><img class="youtube" src="img/youtube-2.png" /></div>
        </div>
      </div>
    </div>
  </body>
</html>
